div{
    text-align: center;
}

#search{
    text-align: center;
    background-color: #EEEEEE;
    
    
}

td{
   
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width: 90%;
   
}

#one{
    background-color: #7EE5DA;
    width: 37%;
}
#two{
    background-color: #70CCC2;
    font-size: small;

}

#three{
    background-color: #62B3AA;
    
}